<div class="AssignVehicle">
  <nb-card>
    <nb-card-body>
      <h5 class="pb-3">Assign Vehicles</h5>
      <form class="formbg-light">
        <div class="form-row">
          <div class="col-auto">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleTypes" [searchKeyword]="keyword" placeHolder="Enter the Vehicle Types"
                (selected)='selectEvent($event, "vehicletype")' (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' historyIdentifier="vehicleTypes" [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
          <div class="col-auto">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleDetails" [searchKeyword]="keyword" placeHolder="Enter the Vehicle Details"
                (selected)='selectEvent($event, "vehicledetails")' (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' historyIdentifier="vehicleDetails" [itemTemplate]="itemTemplate1"
                [notFoundTemplate]="notFoundTemplate1">
              </ng-autocomplete>

              <ng-template #itemTemplate1 let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate1 let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>

          </div>
          <div class="col-auto">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleRegistrations" [searchKeyword]="keyword"
                placeHolder="Enter the Vehicle Registration" (selected)='selectEvent($event, "vehiclereg")'
                (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                historyIdentifier="vehicleRegistrations" [itemTemplate]="itemTemplate2"
                [notFoundTemplate]="notFoundTemplate2">
              </ng-autocomplete>

              <ng-template #itemTemplate2 let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate2 let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
          <button type="button" nbButton status="Filter" (click)="filterData()" class="btn btn-primary ml-2 mr-2"><i
              class="fas fa-search"></i> Search</button>
        </div>
      </form>

      <nb-layout-column class="p-0">
        <table class="table table-responsive table-hover mt-3">
          <thead>
            <tr>
              <th>Vehicle Name</th>
              <th> vehicle Status color</th>
              <th> Vehicle details type </th>
              <th>Assignment Status </th>
              <th>Assigned to </th>
              <th>Assignment Date </th>
              <th>Work Location </th>
              <th> Project </th>
              <th>Fuel Limit </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="VehicleDetail">
                  <div class="VehicleDetail_image">
                    <img src="assets/images/camera3.jpg" width="48">
                  </div>
                  <div class="VehicleDetail_name">
                    <h5>Maruti Suzuki</h5>
                    <h6><b>Code:</b> 34759</h6>
                    <p><b>Reg/Ser No.:</b> bk7687vjkk</p>
                  </div>
                </div>
              </td>
              <td>Black</td>
              <td>Heavy</td>
              <td>Status</td>
              <td>Assigned</td>
              <td>Start Date</td>
              <td>Work Location</td>
              <td>Project</td>
              <td>Fuel Limit</td>
              <td><a class="btn btn-primary" href="javascript:void(0)" routerLink="/pages/vehicles/assign-vehicle-details">Assign</a></td>
            </tr>
            <tr>
              <td>
                <div class="VehicleDetail">
                  <div class="VehicleDetail_image">
                    <img src="assets/images/camera3.jpg" width="48">
                  </div>
                  <div class="VehicleDetail_name">
                    <h5>Maruti Suzuki</h5>
                    <h6><b>Code:</b> 34759</h6>
                    <p><b>Reg/Ser No.:</b> bk7687vjkk</p>
                  </div>
                </div>
              </td>
              <td>Black</td>
              <td>Heavy</td>
              <td>Status</td>
              <td>Assigned</td>
              <td>Start Date</td>
              <td>Work Location</td>
              <td>Project</td>
              <td>Fuel Limit</td>
              <td><a class="btn btn-primary" href="javascript:void(0)" routerLink="/pages/vehicles/assign-vehicle-details">Assign</a></td>
            </tr>
            <tr>
              <td>
                <div class="VehicleDetail">
                  <div class="VehicleDetail_image">
                    <img src="assets/images/camera3.jpg" width="48">
                  </div>
                  <div class="VehicleDetail_name">
                    <h5>Maruti Suzuki</h5>
                    <h6><b>Code:</b> 34759</h6>
                    <p><b>Reg/Ser No.:</b> bk7687vjkk</p>
                  </div>
                </div>
              </td>
              <td>Black</td>
              <td>Heavy</td>
              <td>Status</td>
              <td>Assigned</td>
              <td>Start Date</td>
              <td>Work Location</td>
              <td>Project</td>
              <td>Fuel Limit</td>
              <td><a class="btn btn-primary" href="javascript:void(0)" routerLink="/pages/vehicles/assign-vehicle-details">Assign</a></td>
            </tr>
          </tbody>
        </table>
      </nb-layout-column>
    </nb-card-body>
  </nb-card>
</div>