<div class="AssignVehicle">
  <nb-card>
    <nb-card-body>
      <h5 class="pb-3">Assign Vehicles</h5>
      <form class="formbg-light">
        <div class="form-row">
          <div class="col-auto">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleTypes" [searchKeyword]="keyword" placeHolder="Enter the Vehicle Types"
                (selected)='selectEvent($event, "vehicletype")' (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' historyIdentifier="vehicleTypes" [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
          <div class="col-auto">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleDetails" [searchKeyword]="keyword"
                placeHolder="Enter the Vehicle Details" (selected)='selectEvent($event, "vehicledetails")'
                (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                historyIdentifier="vehicleDetails" [itemTemplate]="itemTemplate1"
                [notFoundTemplate]="notFoundTemplate1">
              </ng-autocomplete>

              <ng-template #itemTemplate1 let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate1 let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>

          </div>
          <div class="col-auto">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleRegistrations" [searchKeyword]="keyword"
                placeHolder="Enter the Vehicle Registration" (selected)='selectEvent($event, "vehiclereg")'
                (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                historyIdentifier="vehicleRegistrations" [itemTemplate]="itemTemplate2"
                [notFoundTemplate]="notFoundTemplate2">
              </ng-autocomplete>

              <ng-template #itemTemplate2 let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate2 let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
          <div class="col-auto">
            <button type="button" nbButton status="Filter" (click)="filterData()"
              class="btn btn-primary ml-2 mr-2"><i class="fas fa-search"></i> Search</button>
          </div>
        </div>
      </form>
      <nb-layout-column class="p-0">
        <table class="table table-responsive table-hover mt-3">
          <thead>
            <tr>
              <th>Vehicle Name</th>
              <th> vehicle Status color</th>
              <th> Vehicle details type </th>
              <th>Assignment Status </th>
              <th>Assigned to </th>
              <th>Assignment Date </th>
              <th>Work Location </th>
              <th> Project </th>
              <th>Fuel Limit </th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of vehiclesList">
              <td>
                <ng-template #dialog let-data let-ref="dialogRef">
                  <nb-card class="popupImage">
                    <nb-card-body>
                      <img src="{{item.vehicleImage}}" alt=" ">
                      <button nbButton class="popupClose" (click)="ref.close()"><i class="fas fa-times-circle"></i></button>
                    </nb-card-body>
                    
                  </nb-card>
                </ng-template>
                <div class="VehicleDetail">
                  <div class="VehicleDetail_image">
                    <img nbButton (click)="open(dialog)" src="{{item.vehicleImage}}" width="80">
                  </div>
                  <div class="VehicleDetail_name">
                    <h5>{{item.name}}</h5>
                    <h6><b>Code:</b> 34759</h6>
                    <p><b>Reg/Ser No.:</b> bk7687vjkk</p>
                  </div>
                </div>
              </td>
              <td>Black</td>
              <td>Heavy</td>
              <td>Status</td>
              <td>Assigned</td>
              <td>Start Date</td>
              <td>Work Location</td>
              <td>Project</td>
              <td>Fuel Limit</td>
              <td><a class="btn btn-primary" href="javascript:void(0)" routerLink="/pages/vehicles/assign-vehicle-details/{{item._id}}">Assign</a></td>
            </tr>
            
          </tbody>
        </table>


        <div class="card-footer pb-0 pt-3 pb-3">
          <ul *ngIf="pager['pages'] && pager['pages'].length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
              <a [routerLink]="['/pages/vehicles/assign-vehicles']" [queryParams]="{page: 1}" class="page-link"><i
                  class="fas fa-angle-double-left"></i></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
              <a [routerLink]="['/pages/vehicles/assign-vehicles']" [queryParams]="{ page: pager.currentPage - 1 }"
                class="page-link"><i class="fas fa-angle-left"></i></a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
              class="page-item number-item">
              <a [routerLink]="['/pages/vehicles/assign-vehicles']" [queryParams]="{ page: page }"
                class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
              <a [routerLink]="['/pages/vehicles/assign-vehicles']" [queryParams]="{ page: pager.currentPage + 1 }"
                class="page-link"><i class="fas fa-angle-right"></i></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
              <a [routerLink]="['/pages/vehicles/assign-vehicles']" [queryParams]="{ page: pager.totalPages }"
                class="page-link"><i class="fas fa-angle-double-right"></i></a>
            </li>
          </ul>
        </div>

      </nb-layout-column>
    </nb-card-body>
  </nb-card>
</div>