
.Fuel{
    .table{
        th{
            font-size: 0.8rem;
        }
        th,td{
            padding: 1rem 0.75rem;
            white-space: normal;
            width: 250px;
            &:last-child{
                width: 90px;
            }
        }
        tbody{
            background-color: #fff;
            tr:hover{
                background-color: rgba($color: #000000, $alpha: 0.03);
            }
        }
        thead{
            background-color: #ebebeb;
        }
    }
    .FuelDetail{
        width: 100%;
        float: left;
        &_image{
            width: 80px;
            float: left;
            margin-right: 5px;
        }
        &_name{
            width: 100%;
            float: left;
            h5{
                font-weight: 400;
                color: #000;
            }
            .FuelStatus{
                width: 100%;
                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: inline-block;
                    li{
                        color: #777777;
                        display: inline-block;
                        padding-right: 5px;
                    }
                    &:last-child{
                        list-style-type: disc;
                        list-style: disc;
                    }
                }
            }
        }
    }
    .VehicleType{
        width: 100%;
        float: left;
        
    }
    
    nb-tabset{
        nb-tab{
            padding: 0.75rem 0;
        }
    }
    .DropDown{
        position: relative;
        &_Action{
            position: absolute;
            top: 100%;
            right: 0;
            width: 120px;
            background-color: #d2d2d2;
            box-shadow: 1px 3px 3px rgba($color: #000000, $alpha: 0.3);
            margin-top: 8px;
            border-radius: 3px;
            &:before{
                content: '';
                border-top: 10px solid #d2d2d2;
                border-left: 0px solid #d2d2d2;
                position: absolute;
                top: -5px;
                right: 15px;
                border-right: 10px solid transparent;
                transform: rotate(45deg);
            }
            a{
                display: block;
                color: #000;
                text-align: center;
                padding: 3px;
                &:hover{
                    background-color: #fff;
                }
            }
        }
    }
    .formbg-light{
        background-color: rgba($color: #000000, $alpha: 0.07);
        padding: 1rem 0.25rem;
        margin-top: 12px;
        .daterange{
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
            position: relative;
            overflow: visible;
            height: 40px;
            input {
                font-size: 14px;
                box-sizing: border-box;
                border: none;
                box-shadow: none;
                outline: 0;
                background-color: #fff;
                color: rgba(0,0,0,.87);
                width: 100%;
                padding: 0 15px;
                line-height: 40px;
                height: 40px;
            }
        }
    }
    .ng-autocomplete {
        width: auto;
    }
    .workStatus{
        display: inline-block;
        vertical-align: middle;
        .success,.pending,.danger, .pendingy{
            width: 15px;
            height: 15px;
            border-radius: 15px;
            display: inline-block;
            margin: 3px;
            position: relative;
            
        }
        .success{
            background-color: green;
        }
        .pending{
            background-color: orange;
        }
        .pendingy{
            background-color: yellow;
        }
        .danger{
            background-color: red;
        }
        
    }
    .tooltipwrp{
        position: relative;
        .toolTip{
            position: absolute;
            top: -70px;
            left: 50%;
            -webkit-transform: translate(-50%,0);
            -moz-transform: translate(-50%,0);
            -ms-transform: translate(-50%,0);
            transform: translate(-50%,0);
            background-color: #f1f1f1;
            border-radius: 3px;
            width: 200px;
            padding: 20px;
            box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: 0.6);
            display: none;
            &:after{
                content: '';
                border-top: 7px solid #f1f1f1;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                position: absolute;
                bottom: -8px;
                left: 50%;
                -webkit-transform: translate(-50%,0);
                -ms-transform: translate(-50%,0);
                -moz-transform: translate(-50%,0);
                transform: translate(-50%,0);
            }
            p{
                font-size: 16px;
                line-height: 22px;
                font-weight: 400;
                color: #000;
                text-align: center;
            }
        }
        &:hover{
            .toolTip{
                display: block;
            }

        }
    }
}


