.daterange{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    position: relative;
    overflow: visible;
    height: 40px;
    input {
        font-size: 14px;
        box-sizing: border-box;
        border: none;
        box-shadow: none;
        outline: 0;
        background-color: #fff;
        color: rgba(0,0,0,.87);
        width: 100%;
        padding: 0 15px;
        line-height: 40px;
        height: 40px;
    }
}
.table{
    th,td{
        white-space: nowrap;
    }
    td{
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                color: #777777;
                font-size: 14px;
                padding: 0 5px;
            }
        }
    }
}