<div class="container">
  <div class="row multiple-column-field-style">
    <div class="col-md-6 multiple-field-style">
      <label>Document Type</label>
      <input type="text" nbInput placeholder="Gender" />
    </div>
    <div class="col-md-6 multiple-field-style">
      <label>NIN Number</label>
      <input type="text" nbInput placeholder="Country" />
    </div>
  </div>
  <div class="row multiple-column-field-style">
    <div class="col-md-6 multiple-field-style">
      <label>Issue Date</label>
      <input type="text" nbInput placeholder="Nationality" />
    </div>
    <div class="col-md-6 multiple-field-style">
      <label>Expiry Date</label>
      <input type="text" nbInput placeholder="Zip Code" />
    </div>
  </div>
  <div class="row field-style">
    <label>Place of Issue</label>
    <input type="text" nbInput placeholder="Contact" />
  </div>
  <div class="row field-style">
    <label>Comments</label>
    <input type="text" nbInput placeholder="Contact" />
  </div>
  <div class="row field-style">
    <label>Attachments</label>
    <input type="text" nbInput placeholder="Contact" />
  </div>
</div>