<div class="Vehicle">
  <nb-card >
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle=" Vehicle List">
          <div class="row no-gutters">
            <div class="col-sm-6">
              <h6>Vehicle List</h6>
            </div>
            <div class="col-sm-6 text-right">
              <a class="btn btn-primary" href="javascript:void(0)" routerLink="/pages/vehicles/add-vehicle">Add
                Vehicle</a>
            </div>
          </div>
          <form class="formbg-light">
            <div class="form-row">
              <div class="col-xs-12 col-sm-3 my-1">
                <div class="ng-autocomplete">
                  <ng-autocomplete [data]="vehicleTypes" [searchKeyword]="keyword" placeHolder="Enter the Vehicle Types"
                  (selected)='selectEvent($event, "vehicletype")' (inputChanged)='onChangeSearch($event)'
                    (inputFocused)='onFocused($event)' historyIdentifier="vehicleTypes" [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 my-1">
                <div class="ng-autocomplete">
                  <ng-autocomplete [data]="vehicleDetails" [searchKeyword]="keyword"
                    placeHolder="Enter the Vehicle Details" (selected)='selectEvent($event, "vehicledetails")'
                    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                    historyIdentifier="vehicleDetails" [itemTemplate]="itemTemplate1"
                    [notFoundTemplate]="notFoundTemplate1">
                  </ng-autocomplete>

                  <ng-template #itemTemplate1 let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate1 let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>

              </div>
              <div class="col-xs-12 col-sm-3 my-1">
                <div class="ng-autocomplete">
                  <ng-autocomplete [data]="vehicleRegistrations" [searchKeyword]="keyword"
                    placeHolder="Enter the Vehicle Registration" (selected)='selectEvent($event, "vehiclereg")'
                    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                    historyIdentifier="vehicleRegistrations" [itemTemplate]="itemTemplate2"
                    [notFoundTemplate]="notFoundTemplate2">
                  </ng-autocomplete>

                  <ng-template #itemTemplate2 let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate2 let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 my-1">
                <button type="button" nbButton status="Filter" (click)="filterData()"
                  class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
              </div>
            </div>
          </form>
          <nb-layout-column class="p-0" *ngIf="!norecord">
            <div class="table-responsive">
              <table class="table table-hover mt-4">
                <thead>
                  <tr>

                    <th scope="col">Vehicle</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Insurance Expiry</th>
                    <th scope="col">Road Tax</th>
                    <th scope="col">Warranty</th>
                    <th scope="col">Work Location</th>
                    <th scope="col">Driver Name</th>
                    <th scope="col">Remainders</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of vehiclesList">
                    <!-- List Image popup design -->
                    <ng-template #dialog let-data let-ref="dialogRef">
                      <nb-card class="popupImage">
                        <nb-card-body>
                          <img src="{{item.vehicleImage}}" alt=" ">
                          <button nbButton class="popupClose" (click)="ref.close()"><i
                              class="fas fa-times-circle"></i></button>
                        </nb-card-body>

                      </nb-card>
                    </ng-template>
                    <td>
                      <div class="VehicleDetail">
                        <div class="VehicleDetail_image">
                          <img nbButton (click)="open(dialog)" src="{{item.vehicleImage}}" width="80">
                        </div>
                        <div class="VehicleDetail_name">
                          <h5>Name:- {{item.name}}</h5>
                          <p>Reg no:- {{item.regNo}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h6>{{item.vehicleTypesArray[0].vehicleType}} - {{item.vehicleDetailsArray[0].vehicleDetails}}</h6>
                    </td>
                    <td>
                      <div class="vehicleStatus">
                        <ul>
                        <li class="text-info" *ngIf="item.vehicleStatusArray[0].vehicleStatus == 'Working'"><i class="fas fa-wrench"></i> {{item.vehicleStatusArray[0].vehicleStatus}}</li>
                        <li class="text-success" *ngIf="item.vehicleStatusArray[0].vehicleStatus == 'Active'" ><i class="fas fa-check-circle"></i> Active</li>
                        <li class="text-warning" *ngIf="item.vehicleStatusArray[0].vehicleStatus == 'In-Service'"><img src="assets/images/repair.png" alt=""> In-Service</li>
                        <li class="text-success" *ngIf="item.vehicleStatusArray[0].vehicleStatus == 'Complaint'"><i class="fas fa-file-signature"></i> Complaint</li>
                        <li class="text-danger" *ngIf="item.vehicleStatusArray[0].vehicleStatus == 'Accident'"><i class="fas fa-car-crash"></i> Accident</li>
                        <li class="text-danger" *ngIf="item.vehicleStatusArray[0].vehicleStatus == 'Not-Working'"><i class="fas fa-times-circle"></i> Not Working</li>
                        <li class="text-success" *ngIf="item.vehicleStatusArray[0].vehicleStatus == 'In-Active'" ><i class="fas fa-check-circle"></i> In Active</li>
                        </ul>
                      </div>
                    </td>
                    <td>
                    <div [ngSwitch] = "item.vehicle_typeId">
                      <div *ngSwitchCase = "'1'"> 
                        {{getDateDifference(item.insuranceValid)}}
                        <div class="workStatus">
                          <span class="success" *ngIf="getProgressBarValu(item.insuranceValid) <= 50">
                            <div class="toolTip">
                              <p>{{item.insuranceValid | date}}</p>
                            </div>
                          </span>
                          <span class="pendingy"
                            *ngIf="getProgressBarValu(item.insuranceValid) > 50 && getProgressBarValu(item.insuranceValid) < 75">
                            <div class="toolTip">
                              <p>{{item.insuranceValid | date}}</p>
                            </div>
                          </span>
                          <span class="pending"
                            *ngIf="getProgressBarValu(item.insuranceValid) >= 75 && getProgressBarValu(item.insuranceValid) < 90">
                            <div class="toolTip">
                              <p>{{item.insuranceValid | date}}</p>
  
                            </div>
                          </span>
                          <span class="danger" *ngIf="getProgressBarValu(item.insuranceValid) >= 90">
                            <div class="toolTip">
                              <p>{{item.insuranceValid | date}}</p>
                            </div>
                          </span>
                        </div>
                      </div>
                      <div *ngSwitchCase = "'2'"> 
                        {{getDateDifference(item.insuranceValid)}}
                        <div class="workStatus">
                          <span class="success" *ngIf="getProgressBarValu(item.insuranceValid) <= 50">
                            <div class="toolTip">
                              <p>{{item.insuranceValid | date}}</p>
                            </div>
                          </span>
                          <span class="pendingy"
                            *ngIf="getProgressBarValu(item.insuranceValid) > 50 && getProgressBarValu(item.insuranceValid) < 75">
                            <div class="toolTip">
                              <p>{{item.insuranceValid | date}}</p>
                            </div>
                          </span>
                          <span class="pending"
                            *ngIf="getProgressBarValu(item.insuranceValid) >= 75 && getProgressBarValu(item.insuranceValid) < 90">
                            <div class="toolTip">
                              <p>{{item.insuranceValid | date}}</p>
  
                            </div>
                          </span>
                          <span class="danger" *ngIf="getProgressBarValu(item.insuranceValid) >= 90">
                            <div class="toolTip">
                              <p>{{item.insuranceValid | date}}</p>
                            </div>
                          </span>
                        </div>
                      </div>

                      <div *ngSwitchCase = "'3'">
                          <span>N.A.</span>
                      </div>

                      <div *ngSwitchCase = "'4'">
                        <span>N.A.</span>
                      </div>

                    </div>
                  
                         
                      
                   
                   
                    
                    </td>
                    <td>
                      <div [ngSwitch] = "item.vehicle_typeId">

                        <div *ngSwitchCase = "'1'"> 
                          {{getDateDifference(item.roadTaxValid)}}
                          <div class="workStatus">
    
                            <span class="success" *ngIf="getProgressBarValu(item.roadTaxValid) <= 50">
                              <div class="toolTip">
                                <p>{{item.roadTaxValid | date}}</p>
                              </div>
                            </span>
                            <span class="pendingy"
                              *ngIf="getProgressBarValu(item.roadTaxValid) > 50 && getProgressBarValu(item.roadTaxValid) <= 75">
                              <div class="toolTip">
                                <p>{{item.roadTaxValid | date}}</p>
                              </div>
                            </span>
                            <span class="pending"
                              *ngIf="getProgressBarValu(item.roadTaxValid) > 75 && getProgressBarValu(item.roadTaxValid) < 90">
                              <div class="toolTip">
                                <p>{{item.roadTaxValid | date}}</p>
                              </div>
                            </span>
                            <span class="danger" *ngIf="getProgressBarValu(item.roadTaxValid) >= 90">
                              <div class="toolTip">
                                <p>{{item.roadTaxValid | date}}</p>
                              </div>
                            </span>
    
                          </div>
                        </div>
                        <div *ngSwitchCase = "'2'"> 
                          {{getDateDifference(item.roadTaxValid)}}
                          <div class="workStatus">
    
                            <span class="success" *ngIf="getProgressBarValu(item.roadTaxValid) <= 50">
                              <div class="toolTip">
                                <p>{{item.roadTaxValid | date}}</p>
                              </div>
                            </span>
                            <span class="pendingy"
                              *ngIf="getProgressBarValu(item.roadTaxValid) > 50 && getProgressBarValu(item.roadTaxValid) <= 75">
                              <div class="toolTip">
                                <p>{{item.roadTaxValid | date}}</p>
                              </div>
                            </span>
                            <span class="pending"
                              *ngIf="getProgressBarValu(item.roadTaxValid) > 75 && getProgressBarValu(item.roadTaxValid) < 90">
                              <div class="toolTip">
                                <p>{{item.roadTaxValid | date}}</p>
                              </div>
                            </span>
                            <span class="danger" *ngIf="getProgressBarValu(item.roadTaxValid) >= 90">
                              <div class="toolTip">
                                <p>{{item.roadTaxValid | date}}</p>
                              </div>
                            </span>
    
    
                            <!-- <span class="success"></span> -->
                            <!-- <span class="pending" *ngIf="getProgressBarValu(item.roadTaxValid)"></span> -->
                            <!-- <span  class="danger"></span> -->
                          </div>
                        </div>
  
                        <div *ngSwitchCase = "'3'">
                            <span>N.A.</span>
                        </div>
  
                        <div *ngSwitchCase = "'4'">
                          <span>N.A.</span>
                        </div>


                      </div>
                     
                    </td>
                    <td>
                      {{getDateDifference(item.warrantyPeriod)}}
                      <div class="workStatus">
                        <span class="success" *ngIf="getProgressBarValu(item.warrantyPeriod) <= 50">
                          <div class="toolTip">
                            <p>{{item.warrantyPeriod | date}}</p>
                          </div>
                        </span>
                        <span class="pendingy"
                          *ngIf="getProgressBarValu(item.warrantyPeriod) > 50 && getProgressBarValu(item.warrantyPeriod) <= 75">
                          <div class="toolTip">
                            <p>{{item.warrantyPeriod | date}}</p>
                          </div>
                        </span>
                        <span class="pending"
                          *ngIf="getProgressBarValu(item.warrantyPeriod) > 75 && getProgressBarValu(item.warrantyPeriod) < 90">
                          <div class="toolTip">
                            <p>{{item.warrantyPeriod | date}}</p>
                          </div>
                        </span>
                        <span class="danger" *ngIf="getProgressBarValu(item.warrantyPeriod) >= 90">
                          <div class="toolTip">
                            <p>{{item.warrantyPeriod | date}}</p>
                          </div>
                        </span>


                        <!-- <span class="success"></span>
                        <span class="pending"></span> -->
                        <!-- <span  class="danger"></span> -->
                      </div>
                    </td>
                    <td>{{item.workLocationArray[0].workLocation}}</td>

                    <td>
                      <div class="VehicleDriver">
                        <div class="VehicleDriver_image">
                          <ngx-assigned-vehicle [vehicleId]="item._id"></ngx-assigned-vehicle>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="vehicleStatus">
                          <h6  class="mb-2"><img src="assets/images/car-insurance.png" alt="" class="mr-2"><span>Insurance </span><span>1</span></h6>
                          <h6><img src="assets/images/dividend.png" alt=""  class="mr-2"><span>Road Tax </span><span>1</span></h6>
                       </div>
                    </td>
                    <td><button class="btn btn-default p-0" (click)="deleteVehicle(item._id)">
                        <i class="fas fa-trash-alt text-danger"></i></button> | <button class="btn btn-default p-0"
                        (click)="editVehicle(item._id)"><i class="fas fa-edit text-primary"></i></button>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="card-footer pb-0 pt-3 pb-3">
              <ul *ngIf="pager['pages'] && pager['pages'].length" class="pagination justify-content-center">
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                  <a [routerLink]="['/pages/vehicles/list']" [queryParams]="{page: 1}" class="page-link"><i
                      class="fas fa-angle-double-left"></i></a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                  <a [routerLink]="['/pages/vehicles/list']" [queryParams]="{ page: pager.currentPage - 1 }"
                    class="page-link"><i class="fas fa-angle-left"></i></a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
                  class="page-item number-item">
                  <a [routerLink]="['/pages/vehicles/list']" [queryParams]="{ page: page }"
                    class="page-link">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                  <a [routerLink]="['/pages/vehicles/list']" [queryParams]="{ page: pager.currentPage + 1 }"
                    class="page-link"><i class="fas fa-angle-right"></i></a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                  <a [routerLink]="['/pages/vehicles/list']" [queryParams]="{ page: pager.totalPages }"
                    class="page-link"><i class="fas fa-angle-double-right"></i></a>
                </li>
              </ul>
            </div>
            <div class="Legends">
              <ul>

                <li class="text-danger"><i class="fas fa-user-times"></i> Unassigned</li>
                <li class="text-success"><i class="fas fa-bell"></i> Reminder</li>
                <li class="text-danger"><i class="fas fa-bell-slash"></i> Remind Later</li>
                <li class="text-danger"><i class="fas fa-trash-alt text-danger"></i> Delete</li>
                <li class="text-primary"><i class="fas fa-edit text-primary"></i> Edit</li>

              </ul>
            </div>
          </nb-layout-column>
        </nb-tab>
        <!-- <nb-tab tabTitle="Assign vehicle">
          <ngx-assign-vehicle></ngx-assign-vehicle>
        </nb-tab> -->
      </nb-tabset>

    </nb-card-body>
  </nb-card>


  <nb-card *ngIf="norecord">
      <h5> No records Found</h5>
  </nb-card>
</div>

<!-- <ngx-dailog-box></ngx-dailog-box> -->