
.Vehicle{
    .table{
        th{
            font-size: 0.8rem;
        }
        td{

        }
        th,td{
            padding: 1rem 0.75rem;
        }
        tbody{
            background-color: #fff;
            tr:hover{
                background-color: rgba($color: #000000, $alpha: 0.03);
            }
        }
        thead{
            background-color: #ebebeb;
        }
    }
.VehicleDetail{
    width: 100%;
    float: left;
    &_image{
        width: 48px;
        float: left;
        margin-right: 5px;
    }
    &_name{
        width: calc(100%- 55px);
        float: left;
        
    }
}
.VehicleType{
    width: 100%;
    float: left;
    
}
h5{
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    margin: 0;
}
p{
    font-size: 13px;
    margin: 0;
}
h6{
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    font-weight: 600;
}
}