<nb-layout-column>
    <button type="button" class="btn btn-primary">Add Vehicle</button>

  <table class="table table-hover">
      <thead>
        <tr>
        
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Status</th>
          <th scope="col">Insurance Expiry</th>
          <th scope="col">Road Tax</th>
          <th scope="col">Warranty</th>
          <th scope="col">Work Location</th>
          <th scope="col">Unasigned</th>
          <th scope="col">Remainders</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of vehiclesList">
          <td>
            <div class="VechileDetail">
              <div class="VechileDetail_image">
                <img src="{{item.vehicleImage}}" width="48">
              </div>
              <div class="VechileDetail_name">
                <h5>{{item.name}}</h5>
                <p>{{item.regNo}}</p>
              </div>
            </div>
            <!-- <div class="VechilType">
              <h6><b>R/S No.</b>: fhiqf</h6>
              <h6><b>Type</b>: 6r23</h6>
            </div> -->
          </td>
          <td>
            <!-- <h5>Car</h5> -->
            <p>{{item.vehicleDetailsArray[0].vehicleDetails}}</p>
          </td>
          <td>{{item.vehicleStatusArray[0].vehicleStatus}}</td>
          <td>{{item.insuranceValid}}</td>
          <td>{{item.roadTaxValid}}</td>
          <td>{{item.warrantyPeriod}}</td>
          <td>{{item.workLocationArray[0].workLocation}}</td>

          <td>Unassigne</td>
          <td>Yes</td>
        </tr>
      </tbody>
    </table>

  
</nb-layout-column>