<div class="VehicleAddTab">
  <nb-tabset>
    <nb-tab tabTitle="Simple Tab #1">
      <div class="VehicleAddTab_From">
        <form>
          <div class="form-group row">
            <label for="vehicletype" class="col-sm-2 col-form-label">Vehicle Type</label>
            <div class="col-sm-10">
              <select class="form-control" id="vehicletype">
                <option>Light Vehicle</option>
                <option>Heavy Vehicle</option>
                <option>Plant, Machinery</option>
                <option>Power tools</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="vehicledetails" class="col-sm-2 col-form-label">Vehicle Details</label>
            <div class="col-sm-10">
              <select class="form-control" id="vehicledetails">
                <option>...</option>

              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="vehiclecode" class="col-sm-2 col-form-label">Vehicle Code</label>
            <div class="col-sm-10">
              <input type="text" id="vehiclecode" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="vehiclename" class="col-sm-2 col-form-label">Vehicle Name</label>
            <div class="col-sm-10">
              <input type="text" id="vehiclename" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="regno" class="col-sm-2 col-form-label">Reg No</label>
            <div class="col-sm-10">
              <input type="text" id="regno" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="make" class="col-sm-2 col-form-label">Make</label>
            <div class="col-sm-10">
              <select class="form-control" id="make">
                <option>...</option>

              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="model" class="col-sm-2 col-form-label">Model</label>
            <div class="col-sm-10">
              <select class="form-control" id="model">
                <option>...</option>

              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="color" class="col-sm-2 col-form-label">Color</label>
            <div class="col-sm-10">
              <select class="form-control" id="color">
                <option>...</option>

              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="manufacture" class="col-sm-2 col-form-label">Manufacture Year</label>
            <div class="col-sm-10">
              <input type="text" id="manufacture" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="engine" class="col-sm-2 col-form-label">Engine No </label>
            <div class="col-sm-10">
              <input type="text" id="engine" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="chassis" class="col-sm-2 col-form-label">Chassis No</label>
            <div class="col-sm-10">
              <input type="text" id="chassis" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="purchase" class="col-sm-2 col-form-label">Purchase Date</label>
            <div class="col-sm-10">
              <input type="text" id="purchase" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="warranty" class="col-sm-2 col-form-label"> Warranty period (Date)</label>
            <div class="col-sm-10">
              <input type="text" id="warranty" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="fuel" class="col-sm-2 col-form-label">Fuel type </label>
            <div class="col-sm-10">
              <select class="form-control" id="fuel">
                <option>...</option>

              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="fuel-measurment" class="col-sm-2 col-form-label">Fuel Measurement </label>
            <div class="col-sm-10">
              <select class="form-control" id="fuel-measurment">
                <option>...</option>

              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="insurance" class="col-sm-2 col-form-label">Insurance Policy No </label>
            <div class="col-sm-10">
              <input type="text" id="insurance" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="insuranceamt" class="col-sm-2 col-form-label">Insurance amt </label>
            <div class="col-sm-10">
              <input type="text" id="insuranceamt" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="policyexpiry" class="col-sm-2 col-form-label">Policy Expiry </label>
            <div class="col-sm-10">
              <input type="text" id="policyexpiry" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="agent" class="col-sm-2 col-form-label">Insurance Agent</label>
            <div class="col-sm-10">
              <select class="form-control" id="agent">
                <option>...</option>

              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="toadtax" class="col-sm-2 col-form-label">Road Tax No </label>
            <div class="col-sm-10">
              <input type="text" id="roadtax" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="roadtaxamt" class="col-sm-2 col-form-label">Road Tax amt </label>
            <div class="col-sm-10">
              <input type="text" id="roataxamt" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="roadtaxexpiry" class="col-sm-2 col-form-label">Road Tax Expiry</label>
            <div class="col-sm-10">
              <input type="text" id="roadtaxexpiry" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="ownership" class="col-sm-2 col-form-label">Ownership Status </label>
            <div class="col-sm-10">
              <select class="form-control" id="ownership">
                <option>...</option>

              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="note" class="col-sm-2 col-form-label">Note </label>
            <div class="col-sm-10">
              <input type="text" id="note" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="status" class="col-sm-2 col-form-label">Status </label>
            <div class="col-sm-10">
              <select class="form-control" id="status">
                <option>Active</option>
                <option>Inactive</option>
                <option>Sold</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Simple Tab #2">
      Tab content 2
    </nb-tab>
  </nb-tabset>
</div>