<div class="VehicleAddTab">
  <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
    <div class="form-group row m-0 mb-3 vehbgcolor">
      <label for="vehicletype" class="col-lg-4 col-xl-3 col-form-label">VEHICLE TYPE<span class="star">*</span></label>
      <div class="col-lg-8 col-xl-9">
        <div class="ng-autocomplete">
          <ng-autocomplete [data]="vehicleTypesData" [searchKeyword]="keyword" placeHolder="Enter the Vehicle Types"
            (selected)='selectEventD($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" (inputFocused)='onFocused($event)'>
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>

      </div>
    </div>
    <div class="row no-gutters" *ngIf="showallfields">
      <nb-tabset class="col-12">

        <nb-tab tabTitle="Identification" class="identification">
          <div class="form-group row">
            <label for="vehicledetails" class="col-lg-4 col-xl-3 col-form-label">Vehicle Details<span
                class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">

              <div class="ng-autocomplete">
                <ng-autocomplete [data]="vehicleDetailsData" [itemTemplate]="itemTemplate1"
                  formControlName="vehicledetails" [notFoundTemplate]="notFoundTemplate1" [searchKeyword]="keyword"
                  placeHolder="Enter the Vehicle Details" [ngClass]="{ 'is-invalid': submitted && f.vehicledetails.errors }">


                </ng-autocomplete>


                <ng-template #itemTemplate1 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate1 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>


           


                <!-- <div *ngIf="submitted && f.vehicledetails.errors" class="invalid-feedback">
                   Vehicle Detail is required
                </div> -->

                <div class="errormsg"
                  *ngIf="submitted && f.vehicledetails.errors">
                  Vehicle Detail is required
                </div>

              </div>

              <!-- <select class="form-control" id="vehicledetails" formControlName="vehicledetails">
                <option>...</option>
                <option value="1">1</option>

              </select> -->
            </div>
          </div>

          <div class="form-group row">
            <label for="vehiclecode" class="col-lg-4 col-xl-3 col-form-label">Vehicle Code<span class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <input type="text" id="vehiclecode" class="form-control" placeholder="Vehicle Code"
                formControlName="vehicleCode" readonly>

              <!-- <div class="errormsg" *ngIf="f.vehicleCode.invalid && (f.vehicleCode.dirty || f.vehicleCode.touched)">
                  Vehicle  Code is required
                </div> -->

            </div>
          </div>


          <input type="hidden" id="vehicletypeformcontrol" class="form-control" formControlName="vehicleTypef">

        </nb-tab>
        <nb-tab tabTitle="Specification">
          <div class="form-group row">
            <label for="vehiclename" class="col-lg-4 col-xl-3 col-form-label">Vehicle Name<span class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <input type="text" id="vehiclename" class="form-control" placeholder="Vehicle Name"
                formControlName="vehicleName" [ngClass]="{ 'is-invalid': submitted && f.vehicleName.errors }">
                <div *ngIf="submitted && f.vehicleName.errors" class="invalid-feedback">
                  <div *ngIf="f.vehicleName.errors.required">Vehicle Name is required</div>
                </div>

            </div>
          </div>
          <div class="form-group row">
            <label for="regno" class="col-lg-4 col-xl-3 col-form-label">Reg no/serial nos<span class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <input type="text" id="regno" class="form-control" placeholder="Reg No" formControlName="regNo" [ngClass]="{ 'is-invalid': submitted && f.regNo.errors }">
              <div *ngIf="submitted && f.regNo.errors" class="invalid-feedback">
                <div *ngIf="f.regNo.errors.required"> Reg no is required</div>
              </div>


            </div>

          </div>

          <div class="form-group row">
            <label for="brand" class="col-lg-4 col-xl-3 col-form-label">Brand<span class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="brandsList" [itemTemplate]="itemTemplate3" formControlName="brand"
                  [notFoundTemplate]="notFoundTemplate3" [searchKeyword]="keyword" placeHolder="Enter the Brand"
                  (selected)='selectBrand($event)' >
                </ng-autocomplete>

                <ng-template #itemTemplate3 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate3 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>


                <div class="errormsg"
                *ngIf="submitted && f.brand.errors">
                Brand is required
              </div>

                <!-- <div class="errormsg" *ngIf="f.brand.invalid && (f.brand.dirty || f.brand.touched)">
                  Brand is required
                </div> -->

              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="make" class="col-lg-4 col-xl-3 col-form-label">Model<span class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="modelsList" [itemTemplate]="itemTemplate2" formControlName="model"
                  [notFoundTemplate]="notFoundTemplate2" [searchKeyword]="keyword" placeHolder="Enter the Model">
                </ng-autocomplete>

                <ng-template #itemTemplate2 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate2 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>

              <!-- <div class="errormsg" *ngIf="f.model.invalid && (f.model.dirty || f.model.touched)">
                Model is required
              </div> -->

              <div class="errormsg"
              *ngIf="submitted && f.model.errors">
              Model is required
            </div>

            </div>
          </div>

          <div class="form-group row">
            <label for="color" class="col-lg-4 col-xl-3 col-form-label">Color<span class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="colorsList" [itemTemplate]="itemTemplate4" formControlName="color"
                  [notFoundTemplate]="notFoundTemplate4" [searchKeyword]="keyword" placeHolder="Enter the Color">
                </ng-autocomplete>

                <ng-template #itemTemplate4 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate4 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>

                <!-- <div class="errormsg" *ngIf="f.color.invalid && (f.color.dirty || f.color.touched)">
                  Color is required
                </div> -->



                <div class="errormsg"
                *ngIf="submitted && f.color.errors">
                Color is required
              </div>

                

              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="manufacture" class="col-lg-4 col-xl-3 col-form-label">Manufacture Year<span class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <input type="text" id="manufacture" placeholder="Manufacture Year" class="form-control"
                formControlName="manufacture_year" [ngClass]="{ 'is-invalid': submitted && f.manufacture_year.errors }">


              <div *ngIf="submitted && f.manufacture_year.errors" class="invalid-feedback">
                  <div *ngIf="f.manufacture_year.errors.required">  Manufacture year is required</div>
              </div>


            </div>
          </div>
          <div class="form-group row">
            <label for="engine" class="col-lg-4 col-xl-3 col-form-label">Engine No<span class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <input type="text" id="engine" class="form-control" placeholder="Engine No" formControlName="engine_no" [ngClass]="{ 'is-invalid': submitted && f.engine_no.errors }">

              <div *ngIf="submitted && f.engine_no.errors" class="invalid-feedback">
                <div *ngIf="f.engine_no.errors.required">  Engine no is required</div>
              </div>

            </div>
          </div>
          <div class="form-group row">
            <label for="chassis" class="col-lg-4 col-xl-3 col-form-label">Chassis No<span class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <input type="text" id="chassis" class="form-control" placeholder="Chassis No" formControlName="chasis_no" [ngClass]="{ 'is-invalid': submitted && f.chasis_no.errors }">

              <div *ngIf="submitted && f.chasis_no.errors" class="invalid-feedback">
                <div *ngIf="f.chasis_no.errors.required">  Chasis no is required</div>
              </div>

            </div>
          </div>
          <div class="form-group row">
            <label for="purchase" class="col-lg-4 col-xl-3 col-form-label">Purchase Date<span class="star"></span></label>
            <div class="col-lg-8 col-xl-9">
              <!-- <input type="text" id="purchase" class="form-control" placeholder="Purchase Date"
                formControlName="purchase_date"> -->

              <input class="form-control" nbInput placeholder="Purchase Date" [nbDatepicker]="purchasedate"
                formControlName="purchase_date"  [ngClass]="{ 'is-invalid': submitted && f.purchase_date.errors }">
              <nb-datepicker #purchasedate></nb-datepicker>

              <div *ngIf="submitted && f.purchase_date.errors" class="invalid-feedback">
                <div *ngIf="f.purchase_date.errors.required">  Purchase Date is required</div>
              </div>

            </div>
          </div>
          <div class="form-group row">
            <label for="warranty" class="col-lg-4 col-xl-3 col-form-label"> Warranty (Date)<span class="star"></span></label>
            <div class="col-lg-8 col-xl-9">
              <!-- <input type="text" id="warranty" class="form-control" placeholder="Warranty Period"
                formControlName="warranty_period"> -->

              <input class="form-control" nbInput placeholder="Warranty" [nbDatepicker]="warranty"
                formControlName="warranty_period"  [ngClass]="{ 'is-invalid': submitted && f.warranty_period.errors }">
              <nb-datepicker #warranty></nb-datepicker>

              <div *ngIf="submitted && f.warranty_period.errors" class="invalid-feedback">
                <div *ngIf="f.warranty_period.errors.required">  Warranty Period is required</div>
              </div>

            </div>
          </div>


          <div class="form-group row">
            <label for="fuel-measurment" class="col-lg-4 col-xl-3 col-form-label">Fuel Measurement<span
                class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="fuelMeasurementList" [itemTemplate]="itemTemplate6"
                  formControlName="fuelMeausrement" [notFoundTemplate]="notFoundTemplate6" [searchKeyword]="keyword"
                  placeHolder="Enter the Fuel Measurement" (selected)='selectMeasurement($event)'>
                </ng-autocomplete>

                <ng-template #itemTemplate6 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate6 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>


                <!-- <div class="errormsg"
                  *ngIf="f.fuelMeausrement.invalid && (f.fuelMeausrement.dirty || f.fuelMeausrement.touched)">
                  Fuel Measurement is required
                </div> -->


                <div class="errormsg"
                *ngIf="submitted && f.fuelMeausrement.errors">
                Fuel Measurement is required
               </div>



              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="fuel" class="col-lg-4 col-xl-3 col-form-label">Fuel Type<span class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="fuelTypeList" [itemTemplate]="itemTemplate5" formControlName="fuel_type"
                  [notFoundTemplate]="notFoundTemplate5" [searchKeyword]="keyword" placeHolder="Enter the Fuel Type">
                </ng-autocomplete>

                <ng-template #itemTemplate5 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate5 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>


                <!-- <div class="errormsg" *ngIf="f.fuel_type.invalid && (f.fuel_type.dirty || f.fuel_type.touched)">
                  Fuel Type is required
                </div> -->


                <div class="errormsg"
                *ngIf="submitted && f.fuel_type.errors">
                Fuel Type is required
               </div>


                

              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="fuel-measurment" class="col-lg-4 col-xl-3 col-form-label">Work Location<span
                class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="workLocationsList" [itemTemplate]="itemTemplate10"
                  formControlName="workLocation" [notFoundTemplate]="notFoundTemplate10" [searchKeyword]="keyword"
                  placeHolder="Enter the Work Location">
                </ng-autocomplete>

                <ng-template #itemTemplate10 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate10 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>

                <!-- <div class="errormsg"
                  *ngIf="f.workLocation.invalid && (f.workLocation.dirty || f.workLocation.touched)">
                  Work Location is required
                </div> -->


                <div class="errormsg"
                *ngIf="submitted && f.workLocation.errors">
                Work Location is required
               </div>


              </div>
            </div>
          </div>


        </nb-tab>
        <nb-tab tabTitle="Document Specification ">

          <div *ngIf="showExtraField">
            <div class="form-group row">
              <label for="insurancepolicy" class="col-lg-4 col-xl-3 col-form-label">Insurance Policy No<span
                  class="star">*</span></label>
              <div class="col-lg-8 col-xl-9">
                <input type="text" id="insurancepolicy" class="form-control" placeholder="Insurance Policy No"
                  formControlName="insurance_policy_no"  [ngClass]="{ 'is-invalid': submitted && f.insurance_policy_no.errors }">

                <div *ngIf="submitted && f.insurance_policy_no.errors" class="invalid-feedback">
                  <div *ngIf="f.insurance_policy_no.errors.required">  Insurance Policy No is  required</div>
                </div>

                
              </div>
            </div>

            <div class="form-group row">
              <label for="insurance_amount" class="col-lg-4 col-xl-3 col-form-label">Insurance Amount<span
                  class="star">*</span></label>
              <div class="col-lg-8 col-xl-9">
                <input type="text" id="insurance_amount" class="form-control" placeholder="Insurance Amount"
                  formControlName="insurance_amount" [ngClass]="{ 'is-invalid': submitted && f.insurance_amount.errors }">
                <div *ngIf="submitted && f.insurance_amount.errors" class="invalid-feedback">
                  <div *ngIf="f.insurance_amount.errors.required">  Insurance Amount is  required</div>
                </div>
              </div>
            </div>


            <div class="form-group row">
              <label for="policy_expiry" class="col-lg-4 col-xl-3 col-form-label">Policy Expiry<span
                  class="star">*</span></label>
              <div class="col-lg-8 col-xl-9">
                <!-- <input type="text" id="policy_expiry" class="form-control" formControlName="policy_expiry"
                  placeholder="Policy expiry"> -->

                <input class="form-control" nbInput placeholder="Policy Expiry" [nbDatepicker]="policyexpiry"
                  formControlName="policy_expiry"  [ngClass]="{ 'is-invalid': submitted && f.policy_expiry.errors }">
                <nb-datepicker #policyexpiry></nb-datepicker>



                <div *ngIf="submitted && f.policy_expiry.errors" class="invalid-feedback">
                  <div *ngIf="f.policy_expiry.errors.required">  Policy Expiry is  required</div>
                </div>


             


              </div>
            </div>


            <div class="form-group row">
              <label for="agent" class="col-lg-4 col-xl-3 col-form-label">Insurance Agent<span class="star">*</span></label>
              <div class="col-lg-8 col-xl-9">
                <div class="ng-autocomplete">
                  <ng-autocomplete [data]="agentsList" [itemTemplate]="itemTemplate6" formControlName="insurance_agent"
                    [notFoundTemplate]="notFoundTemplate6" [searchKeyword]="keyword"
                    placeHolder="Enter the Insurance Agent">
                  </ng-autocomplete>

                  <ng-template #itemTemplate6 let-item>
                    <a [innerHTML]="item.name"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate6 let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>

                  <!-- <div class="errormsg"
                    *ngIf="f.insurance_agent.invalid && (f.insurance_agent.dirty || f.insurance_agent.touched)">
                    Insurance Agent is required
                  </div> -->


                  <div class="errormsg"
                  *ngIf="submitted && f.insurance_agent.errors">
                  Insurance Agent is required
                 </div>



                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="roadtaxno" class="col-lg-4 col-xl-3 col-form-label">Road Tax No<span class="star">*</span></label>
              <div class="col-lg-8 col-xl-9">
                <input type="text" id="roadtaxno" class="form-control" placeholder="Road Tax No"
                  formControlName="road_tax_no" [ngClass]="{ 'is-invalid': submitted && f.road_tax_no.errors }">


                <div *ngIf="submitted && f.road_tax_no.errors" class="invalid-feedback">
                    <div *ngIf="f.road_tax_no.errors.required"> Road Tax is  required</div>
                </div>



              </div>
            </div>

            <div class="form-group row">
              <label for="roadtaxamt" class="col-lg-4 col-xl-3 col-form-label">Road Tax Amount<span class="star">*</span></label>
              <div class="col-lg-8 col-xl-9">
                <input type="text" id="roataxamt" class="form-control" placeholder="Road Tax Amount"
                  formControlName="road_tax_amount" [ngClass]="{ 'is-invalid': submitted && f.road_tax_amount.errors }">

                  <div *ngIf="submitted && f.road_tax_amount.errors" class="invalid-feedback">
                    <div *ngIf="f.road_tax_amount.errors.required"> Road Tax Amount is  required</div>
                 </div>


                <!-- <div class="errormsg"
                  *ngIf="f.road_tax_amount.invalid && (f.road_tax_amount.dirty || f.road_tax_amount.touched)">
                  Road Tax Amount is required
                </div> -->
              </div>
            </div>

            <div class="form-group row">
              <label for="roadtaxexpiry" class="col-lg-4 col-xl-3 col-form-label">Road Tax Expiry<span
                  class="star">*</span></label>
              <div class="col-lg-8 col-xl-9">
                <!-- <input type="text" id="roadtaxexpiry" class="form-control" placeholder="Road Tax Expiry"
                  formControlName="road_tax_expiry"> -->

                <input class="form-control" nbInput placeholder="Road Tax Expiry" [nbDatepicker]="roadtaxexpiry"
                  formControlName="road_tax_expiry"  [ngClass]="{ 'is-invalid': submitted && f.road_tax_expiry.errors }">
                <nb-datepicker #roadtaxexpiry></nb-datepicker>


                <div *ngIf="submitted && f.road_tax_expiry.errors" class="invalid-feedback">
                  <div *ngIf="f.road_tax_expiry.errors.required"> Road Tax Expiry is  required</div>
               </div>


                <!-- <div class="errormsg"
                  *ngIf="f.road_tax_expiry.invalid && (f.road_tax_expiry.dirty || f.road_tax_expiry.touched)">
                  Road Tax Expiry is required
                </div> -->

              </div>
            </div>
          </div>


          <div class="form-group row">
            <label for="ownership" class="col-lg-4 col-xl-3 col-form-label">Ownership Status<span class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="ownershipList" [itemTemplate]="itemTemplate7"
                  formControlName="ownership_status" [notFoundTemplate]="notFoundTemplate7" [searchKeyword]="keyword"
                  placeHolder="Enter the Ownership status">
                </ng-autocomplete>

                <ng-template #itemTemplate7 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate7 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>

              <!-- <div class="errormsg"
                *ngIf="f.ownership_status.invalid && (f.ownership_status.dirty || f.ownership_status.touched)">
                Ownership Status is required
              </div> -->

              <div class="errormsg"
              *ngIf="submitted && f.ownership_status.errors">
             Ownership status is required
             </div>



            </div>
          </div>

          <div class="form-group row">
            <label for="note" class="col-lg-4 col-xl-3 col-form-label">Note<span class="star"></span></label>
            <div class="col-lg-8 col-xl-9">
              <input type="text" id="note" class="form-control" placeholder="Note" formControlName="note" >
              <!-- <div class="errormsg" *ngIf="f.note.invalid && (f.note.dirty || f.note.touched)">
                Note is required
              </div> -->
            </div>

          </div>

          <div class="form-group row">
            <label for="status" class="col-lg-4 col-xl-3 col-form-label">Status<span class="star">*</span></label>
            <div class="col-lg-8 col-xl-9">
              <select class="form-control" id="status" formControlName="vehicleStatus" [ngClass]="{ 'is-invalid': submitted && f.vehicleStatus.errors }">
                <option *ngFor="let st of vehicleStatusList" [value]="st.id">{{st.name}}</option>
              </select>

              <div *ngIf="submitted && f.vehicleStatus.errors" class="invalid-feedback">
                <div *ngIf="f.vehicleStatus.errors.required"> vehicle Status is  required</div>
             </div>


              <!-- <div class="errormsg"
                *ngIf="f.vehicleStatus.invalid && (f.vehicleStatus.dirty || f.vehicleStatus.touched)">
                Vehicle Status is required
              </div> -->
            </div>
          </div>

          <div class="form-group row">
            <input type="hidden" id="bill_file_unique_id" class="form-control" formControlName="bill_file_unique_id">

            <label for="attachdoc" class="col-lg-4 col-xl-3 col-form-label">Attach Documents(Bill)<span
                class="star"></span></label>
            <div class="col-lg-8 col-xl-9">
              <input type="file" id="attachdoc" #attachdoc multiple (change)="fileAdded($event)">
              <button (click)="uploadBills()" class="btn btn-primary float-right">Upload</button>
            </div>
          </div>


          <div class="form-group row">
            <label for="attachimg" class="col-lg-4 col-xl-3 col-form-label">Attach Image</label>
            <div class="col-lg-8 col-xl-9">
              <input type="hidden" id="image_file_unique_id" class="form-control"
                formControlName="image_file_unique_id">

              <div class="row no-gutters">
                <div class="col-xs-12 col-lg-12 col-xl-8">
                  <ngx-img (onSelect)="onSelect($event)" (onReset)="onReset()" [config]="{ crop: [ { ratio: 1.5 } ] }">
                  </ngx-img>
                </div>
                <div class="col-xs-12 col-lg-12 col-xl-4 mt-1">
                  <div *ngIf="imgSrc.length" class="container mb-3">
                    <h5>Preview</h5>
                    <div class="row">
                      <div *ngFor="let img of imgSrc" class="col">
                        <img class="img-fluid" [src]="img">
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary float-right" (click)="uploadImage()">Upload Image</button>
                </div>
              </div>
            </div>
          </div>
          <div>

          </div>
        </nb-tab>

      </nb-tabset>
    </div>
    <div class="row no-gutters mt-3">
      <div class="col-12 pr-4">
        <!-- [disabled]="vehicleForm.invalid"  -->
        <button type="submit"  class="btn btn-primary float-right">Submit</button>
      </div>
    </div>

  </form>
</div>
<div *ngIf="dialogBox">

  <ngx-dailog-box (messageToEmit)="getMsg($event)" [msgObj]="msgObj"></ngx-dailog-box>
</div>