<div class="AssignVehicle">
  <nb-card>
    <nb-card-body>
      <div class="row no-gutters">
        <div class="col-sm-6 text-left">
          <h4 class="pb-3"> Vehicles Services</h4>
        </div>
        <div class="col-sm-6 text-right">
          <a class="btn btn-primary" href="javascript:void(0)" routerLink="/pages/services/add-service">Add
            Service</a>
        </div>
      </div>
      <form class="formbg-light">
        <div class="form-row">
          <div class="form-col">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleTypes" [searchKeyword]="keyword" placeHolder="Enter the Vehicle Types"
                (selected)='selectEvent($event, "vehicletype")' (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' historyIdentifier="vehicleTypes" [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
          <div class="form-col">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleDetails" [searchKeyword]="keyword" placeHolder="Enter the Vehicle Details"
                (selected)='selectEvent($event, "vehicledetails")' (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' historyIdentifier="vehicleDetails" [itemTemplate]="itemTemplate1"
                [notFoundTemplate]="notFoundTemplate1">
              </ng-autocomplete>

              <ng-template #itemTemplate1 let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate1 let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>

          </div>
          <div class="form-col">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleRegistrations" [searchKeyword]="keyword"
                placeHolder="Enter the Vehicle Registration" (selected)='selectEvent($event, "vehiclereg")'
                (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                historyIdentifier="vehicleRegistrations" [itemTemplate]="itemTemplate2"
                [notFoundTemplate]="notFoundTemplate2">
              </ng-autocomplete>

              <ng-template #itemTemplate2 let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate2 let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
          <div class="form-col">
            <button type="button" nbButton status="Filter" (click)="filterData()" class="btn btn-primary ml-2 mr-2"><i
                class="fas fa-search"></i> Search</button>
          </div>
        </div>
      </form>
      <nb-layout-column class="p-0">

        <div class="table-responsive">
          <table class="table table-hover mt-3">
            <thead>
              <tr>
                <th>

                  Vehicle
                  <!-- <table class="table innerTable p-0 m-0">
                    <thead>
                      <tr>
                        <th class="p-0 border-0">Vehicle</th>
                        <th  class="p-0 border-0">Status</th>
                        <th class="p-0 border-0">Type</th>
                      
                      </tr>
                    </thead>
                  </table> -->
                </th>
                <th>service Type </th>
                <th>Completion Date</th>
                <th>Employee </th>
                <th>Odometer</th>
                <th>Total Amount</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of vehiclesList">
                <td>

                  <ngx-single-vehicle [vehicleId]="item.vehicle._id">

                  </ngx-single-vehicle>

                  <!-- <ngx-vehicle-detail-s [vehicleId]="item.vehicle._id"></ngx-vehicle-detail-s> -->
                  
                </td>
                <td>

                  {{item.serviceType.serviceTaskName}}

                </td>
                <td>
                  {{item.completion_date_time | date}}
                </td>
                <ng-template #dialogDriver let-data let-ref="dialogRef">
                  <nb-card class="popupImage driverPopup">
                    <nb-card-body>
                      <img [src]="item['employee']['empImage']" alt=" ">
                      <button nbButton1 class="popupClose" (click)="ref.close()"><i
                          class="fas fa-times-circle"></i></button>
                    </nb-card-body>
                
                  </nb-card>
                </ng-template>
                <td>

                  <div class="VehicleDetail">
                    <div class="VehicleDetail_image" style="width: 60px;">
                      <img nbButton1 (click)="open(dialogDriver)" [src]="item['employee']['empImage']" width="60"/>
                    </div>
                    <div class="VehicleDetail_name">
                      <p><a href="#">{{item.employee?.firstName}}</a></p>
                      <p>Code:- {{item.employee?.employeeCode}}</p>
                    </div>
                  </div>

                </td>
                <td>
                  {{ item.odometer}}
                </td>
                <td>
                  {{ item.amount}}
                </td>

                <td>
                  {{item.description}}
                </td>

                <td>
                  
                  <button class="btn btn-default p-0" (click)="deleteVehicle(item._id)">
                  <i class="fas fa-trash-alt text-danger"></i></button> | <button class="btn btn-default p-0"
                  (click)="editService(item._id)"><i class="fas fa-edit text-primary"></i></button>
                </td>

                <!-- <td><a class="btn btn-primary" href="javascript:void(0)" routerLink="/pages/vehicles/vehicle-service-details/{{item._id}}">Service</a></td> -->
              </tr>

            </tbody>
          </table>
          
        </div>

        <div class="card-footer pb-0 pt-3 pb-3">
          <ul *ngIf="pager['pages'] && pager['pages'].length" class="pagination justify-content-center">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
              <a [routerLink]="['/pages/services/list']" [queryParams]="{page: 1}" class="page-link"><i
                  class="fas fa-angle-double-left"></i></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
              <a [routerLink]="['/pages/services/list']" [queryParams]="{ page: pager.currentPage - 1 }"
                class="page-link"><i class="fas fa-angle-left"></i></a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
              class="page-item number-item">
              <a [routerLink]="['/pages/services/list']" [queryParams]="{ page: page }"
                class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
              <a [routerLink]="['/pages/services/list']" [queryParams]="{ page: pager.currentPage + 1 }"
                class="page-link"><i class="fas fa-angle-right"></i></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
              <a [routerLink]="['/pages/services/list']" [queryParams]="{ page: pager.totalPages }"
                class="page-link"><i class="fas fa-angle-double-right"></i></a>
            </li>
          </ul>
        </div>

      </nb-layout-column>
    </nb-card-body>
  </nb-card>
</div>