<div class="VehicleAddTab">
  <form [formGroup]="notesForm" novalidate>

    <div class="row no-gutters">
      <nb-tabset class="col-12">
        <nb-tab tabTitle="Identification" class="identification">

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vehicle Type<span
                class="star">*</span></label>
            <div class="col-sm-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="vehicleTypesData" [searchKeyword]="keyword" (selected)='selectVehicleType($event)'
                placeHolder="Enter the Vehicle Type"
                  [itemTemplate]="itemTemplate1" [notFoundTemplate]="notFoundTemplate1">
                </ng-autocomplete>

                <ng-template #itemTemplate1 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate1 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vehicle Name<span
              class="star">*</span></label>
            <div class="col-sm-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="vehicleNamesData" [searchKeyword]="keyword" (selected)='selectEventVehicle($event)'
                placeHolder="Enter the Vehicle Name" formControlName="vehicle"
                  [itemTemplate]="itemTemplate2" [notFoundTemplate]="notFoundTemplate2">
                </ng-autocomplete>

                <ng-template #itemTemplate2 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate2 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vehicle Reg No<span
              class="star">*</span></label>
            <div class="col-sm-9">
              <input type="text" value="{{vehicleRegNo}}" class="form-control" placeholder="Vehicle Reg No" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vehicle Code</label>
            <div class="col-sm-9">
              <input type="text" value="{{vehicleCode}}" class="form-control" placeholder="Vehicle Code" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vehicle Image</label>
            <div class="col-sm-9">
              <div class="assignImage">
                <img [src]="vehicleImage" alt="" class="img-thumbnail">
              </div>
            </div>
          </div>

   

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vehicle Detail<span
              class="star">*</span></label>
            <div class="col-sm-9">
              
              <input type="text" value="{{vehicleDetail}}" class="form-control" placeholder="Vehicle Detail" readonly>
            </div>
          </div>
        </nb-tab>

        <nb-tab tabTitle="Specification">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Note<span
              class="star">*</span></label>
            <div class="col-sm-9">
              <textarea class="form-control" placeholder="Note" formControlName="note">

              </textarea>
           
            </div>
          </div>
    
        </nb-tab>
      </nb-tabset>
    </div>
    <div class="row no-gutters mt-3">
      <div class="col-12 pr-4">
        <button type="submit" (click)="addNotes()" class="btn btn-primary float-right">Submit</button>
      </div>
    </div>
  </form>
</div>

<!-- <div *ngIf="dialogBox">

  <ngx-dailog-box (messageToEmit)="getMsg($event)" [msgObj]="msgObj"></ngx-dailog-box>
</div> -->