<div class="AssignVehicle">
  <nb-card>
    <nb-card-body>
      <div class="row no-gutters">
        <div class="col-12">
          <h4 class="pb-3"> Contact List</h4>
        </div>
      </div>
      <nb-layout-column class="p-0" *ngIf="!showNoRecord">
        <div class="table-responsive">
          <table class="table table-hover mt-3">
            <thead>
              <tr>
                <th>Name</th>
                <th>Designation & work location</th>
                <th>Emp code</th>
                <th>Phone number</th>
                <th>Vehicle assigned</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of contactList">
                <td>
                  <div class="VehicleDriver">
                    <div class="VehicleDriver_image">
                      <img [src]="item.empImage" alt="driver">
                    </div>
                    <div class="VehicleDriver_name">
                      <h5>{{item.firstName}} {{item.middleName}}  {{item.lastName}}</h5>
                    </div>
                  </div>
                </td>
                <td><h6>{{item.jobTitleData.jobTitle}}</h6> {{item.workLocationData.workLocation}}</td>
                <td>{{item.employeeCode}}</td>
                <td>{{item.primaryContact}}</td>
                <td>
                  
                  <ul>
                    <li *ngFor="let vh of item.assignVehicleData">
                      <a routerLink="pages/vehicles/edit-vehicle/{{vh.vehicle}}">
                        {{vh.vehicledata.name}}
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer pb-0 pt-3 pb-3">
          <ul *ngIf="pager['pages'] && pager['pages'].length" class="pagination justify-content-center">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
              <a [routerLink]="['/pages/contacts/contact-list']" [queryParams]="{page: 1}" class="page-link"><i
                  class="fas fa-angle-double-left"></i></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
              <a [routerLink]="['/pages/contacts/contact-list']" [queryParams]="{ page: pager.currentPage - 1 }"
                class="page-link"><i class="fas fa-angle-left"></i></a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
              class="page-item number-item">
              <a [routerLink]="['/pages/contacts/contact-list']" [queryParams]="{ page: page }"
                class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
              <a [routerLink]="['/pages/contacts/contact-list']" [queryParams]="{ page: pager.currentPage + 1 }"
                class="page-link"><i class="fas fa-angle-right"></i></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
              <a [routerLink]="['/pages/contacts/contact-list']" [queryParams]="{ page: pager.totalPages }"
                class="page-link"><i class="fas fa-angle-double-right"></i></a>
            </li>
          </ul>
        </div>

      </nb-layout-column>
    </nb-card-body>

    <div class="row" *ngIf="showNoRecord">
      <div class="col-12">
        <h5 class="text-center text-danger p-4"> No records Found</h5>
      </div>
    </div>

  </nb-card>
</div>