<div class="container" *ngIf="!loading">
  <div class="row main-header">
    <div class="col-md-2 photo-style">
      <!-- Image goes Here -->
      <img src="{{employeeDetails.empImage}}" alt="profile image" style="width:100px; height: 100px;border-radius: 50%;">
    </div>
    <div class="col-md-7">
      <div class="row header-style">
        <span class="profileNameStyle">{{employeeDetails.firstName}}&ensp;{{employeeDetails.lastName}}</span>
        <!-- <button nbButton status="danger">Delete Employee</button> -->
      </div>
      <div class="row header-style">
        <span class="additionalDetailStyle">{{employeeDetails.employeeCode}}</span>
      </div>
      <div class="row header-style">
        <span class="additionalDetailStyle">{{employeeDetails.role}}</span>
      </div>
      <div class="row header-style">
        <span class="additionalDetailStyle"><i class="fa fa-phone" aria-hidden="true"></i> {{employeeDetails.primaryContact}}</span>
      </div>
    </div>
    <div class="col-md-3 button-container">
        <ng-container *ngIf="!editOption">
          <button nbButton shape="round" outline size="small" status="success" (click)="enableEdit()">Edit</button>
          <button nbButton shape="round" outline size="small" status="danger">Delete</button>
        </ng-container>
        <ng-container *ngIf="editOption">
            <button nbButton shape="round" outline size="small" status="success" (click)="saveEmployee()">Save</button>
            <button nbButton shape="round" outline size="small" status="danger" (click)="discardChanges()">Discard</button>
        </ng-container>
    </div>
  </div>
  <div class="main-content">
    <nb-tabset (changeTab)="changeTab($event)">
      <nb-tab tabTitle="Profile">
        <app-profile [profileDataForm]="profileForm" [editOption]="editOption"></app-profile>
      </nb-tab>
      <nb-tab tabTitle="Job">
        <app-job-details [jobDataForm]="jobTabForm" [editOption]="editOption"></app-job-details>
      </nb-tab>
      <nb-tab tabTitle="Emergency">
        <app-emergency-details [contactDataForm]="emergencyTabForm" [editOption]="editOption"></app-emergency-details>
      </nb-tab>
      <nb-tab tabTitle="Passport & NIN">
        <app-passport-details [passportDataForm]="passportTabForm" [editOption]="editOption"></app-passport-details>
      </nb-tab>
      <nb-tab tabTitle="Notes" (click)="getNotes()">
        <ng-container *ngIf="!notesLoading">
          <app-employee-notes [notesData]="notesTabData"></app-employee-notes>
        </ng-container>
      </nb-tab>
      <nb-tab tabTitle="Other Attachments">
        <app-employee-files [attachmentsData]="attachmentTabData"></app-employee-files>
      </nb-tab>
     </nb-tabset>
  </div>
</div>
