<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo p-0" href="#" (click)="navigateHome()"><img [src]="organization?.organizationLogo" width="180px"/></a>
    
  </div>
  
</div>
<div class="comapnyLogo">
  <h5>TURNKEY</h5>
  <p>Solutions(Seychelles) Ltd</p>
</div>


<div class="logout">
  <a class="btn btn-primary btn-logout" (click)="logout()"><nb-icon icon="sign-out-alt" pack="font-awesome"></nb-icon> Logout</a>
</div>

