.login-container{
    background-color: #edf1f7;
    padding: 25px;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    label{
        color: #777;
        font-size: 16px;
    }
    .btn-login{
        background-color: #C2CC7F;
        color: #fff;
        padding: 10px 20px;
    }
    .form-control{
        height: 40px;
        background-color: #fff;
        color: #777;
        border: 1px solid #dadada;
    }
}
.scrollable-container{
    padding: 10px;
}