<div class="login-container">
    <nb-card>
        <nb-card-body class="p-0">
            <div class="cmplogo">
                <img src="https://logistic-management.s3.ap-south-1.amazonaws.com/logo_trans-1.png" width="200" alt="">
            </div>
            <form [formGroup]="userForm">
                <div class="form-control-group">
                    <label class="label" for="input-email">Email address:</label>
                    <input nbInput formControlName="username" class="form-control" fullWidth />
                </div>
                <div class="form-control-group">
                    <label class="label" for="input-password">Password:</label>
                    <input nbInput type="password" formControlName="password" class="form-control" fullWidth />
                </div>
                <div class="form-control-group text-right m-0">
                    <button nbButton fullWidth class="btn btn-default btn-login" status="primary" size="large" (click)="login()">
                        Log In
                    </button>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>