<div class="ecommerce">
  <div class="row">
    <div class="col-12">
      <h4 class="title">My Dashboard</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="ServiceReminder">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <img src="assets/images/warning.png" alt="">
            </div>
            <p class="card-category">Vehicle service Reminder</p>
            <h3 class="card-title">2/<span>5</span></h3>
            <h6 class="cardstats">Duesoon/Overdue</h6>
          </div>
          <div class="card-footer">
            <div class="stats"><i class="fas fa-calendar-alt"></i> Last 24 Hours </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="ServiceReminder">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon
          ">
            <div class="card-icon">
              <img src="assets/images/subscription.png" alt="">
            </div>
            <p class="card-category">Vehicle Renewal Reminders</p>
            <h3 class="card-title">2/<span>5</span></h3>
            <h6 class="cardstats">Duesoon/Overdue</h6>
          </div>
          <div class="card-footer">
            <div class="stats"><i class="fas fa-calendar-alt"></i> Just Updated </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="ServiceReminder">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <img src="assets/images/smartphone.png" alt="">
            </div>
            <p class="card-category">Vehicle Contact Reminder</p>
            <h3 class="card-title">2/<span>5</span></h3>
            <h6 class="cardstats">Duesoon/Overdue</h6>
          </div>
          <div class="card-footer">
            <div class="stats"><i class="fas fa-calendar-alt"></i> Just Reply </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Left Side column -->
    <div class="col-xs-12 col-sm-12 col-md-3">
      <div class="EcommerceCol1">
        <nb-card>
          <nb-card-header>Vehicle Status <a class="float-right" href="#">Details <i class="fas fa-angle-right"></i></a>
          </nb-card-header>
          <nb-card-body class="p-0">
            <nb-list class="statusHeight">
              <nb-list-item *ngFor="let item of vehicleStatusWithCountData">
                <div class="itemName">{{ item.name }}</div>
                <div class="itemCount">{{ item.totalcount}}</div>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <!-- Middle column -->
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="EcommerceCol2">
        <div class="card-row">
          <div class="card-col">
            <nb-card size="medium">
              <nb-card-header>Total vehicle assigned </nb-card-header>
              <ngx-assign-vehicle-chart></ngx-assign-vehicle-chart>
            </nb-card>
          </div>
        </div>
      </div>
    </div>




    <!-- Last Column -->
    <div class="col-xs-12 col-sm-12 col-md-3">
      <div class="EcommerceCol3">
        <nb-card>
          <nb-card-header>Vehicle Assignments</nb-card-header>
          <nb-card-body>
            <div class="row no-gutters">
              <div class="col-col" *ngFor="let item of vehicleAssignCountData">
                <div class="unassign" *ngIf="item._id === 0">
                  <h3>{{item.count}}</h3>
                  <h5>Unassigned</h5>
                </div>
                <div class="assign" *ngIf="item._id === 1">
                  <h3>{{item.count}}</h3>
                  <h5>Assigned</h5>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-header>Total Vehicle</nb-card-header>
          <nb-card-body class="p-0">
            <nb-list class="statusHeight">
              <nb-list-item>
                Total vehicle
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>

      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="EcommerceCol3">
        <div class="card-row">
          <div class="card-col">
            <nb-card size="medium">
              <nb-card-header>Total vehicle expenses </nb-card-header>
              <ngx-expensed-stacked-area-chart></ngx-expensed-stacked-area-chart>
            </nb-card>
          </div>
        </div>
      </div>
    </div>

  </div>
 

  <div class="row">
    <div class="col-12">
      <h5>Overdue Count</h5>
      <div class="overDue">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <nb-card>
              <nb-card-header>Urgent Remainer</nb-card-header>
              <nb-card-body class="p-0">
                <nb-card-body>
                  <div class="row no-gutters">
                    <div class="col-4 overdue">
                      <h3>1</h3>
                      <h5> Insurance Expired</h5>
                    </div>
                    <div class="col-4 duesoon">
                      <h3>4</h3>
                      <h5>Road Tax</h5>
                    </div>
                    <div class="col-4 complain">
                      <h3>4</h3>
                      <h5>Now working vehicle complaint </h5>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card-body>
            </nb-card>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <nb-card>
              <nb-card-header>Total Costs</nb-card-header>
              <nb-card-body class="p-0">
                <nb-list class="statusHeight">
                  <nb-list-item>
                    Graph
                  </nb-list-item>
                </nb-list>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>