.VehicleDetail{
    width: 100%;
    float: left;
    &_image{
        width: 80px;
        float: left;
        margin-right: 5px;
    }
    &_name{
        width: calc(100% - 0px);
        float: left;
       
    }
}
.table{
    tr{
        td{
            width: 100px;
            white-space: normal;
            word-wrap: break-all;
            &:first-child{
                width: 200px;
            }
        }
        &:hover{
            background-color: transparent;
        }
    }
    
}