.VehicleDetail{
    width: 100%;
    float: left;
    padding: 0;
    &_image{
        width: 80px;
        float: left;
        margin-right: 5px;
    }
    &_name{
        width: calc(100% - 0px);
        float: left;
        h5{
            font-size: 12px;
            font-weight: 400;
            padding: 3px 0;
        }
        .vehicleStatus{
            ul{
                margin: 0;
                li{
                    font-size: 13px;
                    padding: 2px 0;
                }
            }
        }
    }
  }