<div class="AssignVehicle">
  <nb-card>
    <nb-card-body>
      <div class="row no-gutters">
        <div class="col-6">
          <h4 class="pb-3"> Notes List</h4>
        </div>
        <div class="col-sm-6 text-right">

          <a class="btn btn-primary" href="javascript:void(0)" routerLink="/pages/notes/add-notes">Add Notes</a>
        </div>
      </div>

      <form class="formbg-light">
        <div class="form-row">
          <div class="form-col">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleTypes" [searchKeyword]="keyword" placeHolder="Enter the Vehicle Types"
                (selected)='selectEvent($event, "vehicletype")' (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' historyIdentifier="vehicleTypes" [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
          <div class="form-col">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleDetails" [searchKeyword]="keyword" placeHolder="Enter the Vehicle Details"
                (selected)='selectEvent($event, "vehicledetails")' (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)' historyIdentifier="vehicleDetails" [itemTemplate]="itemTemplate1"
                [notFoundTemplate]="notFoundTemplate1">
              </ng-autocomplete>

              <ng-template #itemTemplate1 let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate1 let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>

          </div>
          <div class="form-col">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleRegistrations" [searchKeyword]="keyword"
                placeHolder="Enter the Vehicle Registration" (selected)='selectEvent($event, "vehiclereg")'
                (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                historyIdentifier="vehicleRegistrations" [itemTemplate]="itemTemplate2"
                [notFoundTemplate]="notFoundTemplate2">
              </ng-autocomplete>

              <ng-template #itemTemplate2 let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate2 let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </div>
          <div class="form-col">
            <button type="button" nbButton status="Filter" (click)="filterData()" class="btn btn-primary ml-2 mr-2"><i
                class="fas fa-search"></i> Search</button>
          </div>
        </div>
      </form>
      <nb-layout-column class="p-0" *ngIf="!showNoRecord">
        <div class="table-responsive">
          <table class="table table-hover mt-3">
            <thead>
              <tr>
                <th>

                  Vehicle
                  <!-- <table class="table innerTable p-0 m-0">
                    <thead>
                      <tr>
                        <th class="p-0 border-0">Vehicle</th>
                        <th  class="p-0 border-0">Status</th>
                        <th class="p-0 border-0">Type</th>
                      
                      </tr>
                    </thead>
                  </table> -->
              </th>
                <th>Note</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of noteList">
                <td class="p-0">

                  <ngx-single-vehicle [vehicleId]="item.vehicleData[0]._id">

                  </ngx-single-vehicle>
                  <!-- <ngx-vehicle-detail-s [vehicleId]="item.vehicle"></ngx-vehicle-detail-s> -->

                </td>
      

                <td>
                  {{item.note}}
                </td>
                <td>

                <button class="btn btn-default p-0" (click)="deleteNotes(item._id)">
                  <i class="fas fa-trash-alt text-danger"></i></button> | <button class="btn btn-default p-0"
                  (click)="editNotes(item._id)"><i class="fas fa-edit text-primary"></i></button>
                  </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="card-footer pb-0 pt-3 pb-3">
          <ul *ngIf="pager['pages'] && pager['pages'].length" class="pagination justify-content-center">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
              <a [routerLink]="['/pages/notes/list']" [queryParams]="{page: 1}" class="page-link"><i
                  class="fas fa-angle-double-left"></i></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
              <a [routerLink]="['/pages/notes/list']" [queryParams]="{ page: pager.currentPage - 1 }"
                class="page-link"><i class="fas fa-angle-left"></i></a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
              class="page-item number-item">
              <a [routerLink]="['/pages/notes/list']" [queryParams]="{ page: page }"
                class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
              <a [routerLink]="['/pages/notes/list']" [queryParams]="{ page: pager.currentPage + 1 }"
                class="page-link"><i class="fas fa-angle-right"></i></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
              <a [routerLink]="['/pages/notes/list']" [queryParams]="{ page: pager.totalPages }"
                class="page-link"><i class="fas fa-angle-double-right"></i></a>
            </li>
          </ul>
        </div>

      </nb-layout-column>
    </nb-card-body>

    <div class="row" *ngIf="showNoRecord">
      <div class="col-12">
        <h5 class="text-center text-danger p-4"> No records Found</h5>
      </div>
    </div>

  </nb-card>
</div>