<div class="VehicleAddTab fuel">
  <form [formGroup]="fuelEntryForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-6">
        <div class="form-group row">
          <label for="vehicleTypef" class="col-lg-4 col-xl-3 col-form-label">Vehicle Type<span
              class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleTypesData" [searchKeyword]="keyword" placeHolder="Enter the Vehicle Types"
                (selected)='selectEventD($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                formControlName="vehicleTypef">
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>
              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>


            <div class="errormsg"
              *ngIf="submitted && f.vehicleTypef.errors">
              Vehicle Type is required
            </div>

            </div>
            <!-- <input type="hidden" id="vehicletypeformcontrol" class="form-control" formControlName="vehicleTypef"> -->
          </div>
        </div>
        <div class="form-group row">
          <label for="vehiclename" class="col-lg-4 col-xl-3 col-form-label">Vehicle Name<span
              class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="vehicleNamesData" [itemTemplate]="itemTemplate1" formControlName="vehiclename"
                [notFoundTemplate]="notFoundTemplate1" (selected)='selectEventVeh($event)' [searchKeyword]="keyword"
                placeHolder="Enter the Vehicle Name" readonly>
              </ng-autocomplete>
              <ng-template #itemTemplate1 let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>
              <ng-template #notFoundTemplate1 let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>

            <div class="errormsg"
              *ngIf="submitted && f.vehiclename.errors">
              Vehicle Name is required
            </div>

            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="vehicledetails" class="col-lg-4 col-xl-3 col-form-label">Vehicle Details<span
              class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">
            <input type="text" [value]="vehicleDetail" placeholder="Vehicle Detail" class="form-control" readonly />
          </div>
        </div>
        <div class="form-group row">
          <label for="vehiclereg" class="col-lg-4 col-xl-3 col-form-label">Vehicle Reg/Serial No<span
              class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">
            <input type="text" id="vehiclereg" class="form-control" placeholder="Vehicle Reg No" [value]="vehicleRegNo"
              readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="vehiclecode" class="col-lg-4 col-xl-3 col-form-label">Vehicle Code<span
              class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">
            <input type="text" id="vehiclecode" class="form-control" placeholder="Vehicle Code" [value]="vehicleCode"
              readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="drivern" p class="col-lg-4 col-xl-3 col-form-label">Driver Name<span class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="employeeLists" [searchKeyword]="keyword" (selected)='selectEmployee($event)'
                placeHolder="Enter the Driver" formControlName="drivername" [itemTemplate]="itemTemplate1"
                [notFoundTemplate]="notFoundTemplate1">
              </ng-autocomplete>

              <ng-template #itemTemplate1 let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate1 let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>

              <div class="errormsg"
              *ngIf="submitted && f.drivername.errors">
              Driver Name is required
            </div>

            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="expiration" class="col-lg-4 col-xl-3 col-form-label">Date<span
              class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">
            <div class="row no-gutters">

              <input type="text" id="timest" class="form-control" placeholder="Enter Timestamp" value="{{today | date:'dd-MM-yyyy hh:mm:ss a':'+0400'}}"
              readonly />
              <!-- <div class="col-12 col-md-6 col-lg-8 pr-3">
                <div class="input-group">
                  <input class="form-control" id="expiration" nbInput formControlName="expiration_date"
                    [nbDatepicker]="expiration" readonly>
                  <nb-datepicker #expiration></nb-datepicker>
                  <div class="input-group-append">
                    <span class="input-group-text"><img src="assets/images/organization.png" alt="" width="16"></span>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-12 col-md-6 col-lg-4">
                <div class="ngx-timepicker-field-example">
                  <div class="input-group">
                    <input [ngxTimepicker]="picker" class="form-control" formControlName="expiration_time" [defaultTime]="'03:00'">
                    <ngx-material-timepicker #picker></ngx-material-timepicker>
                    <div class="input-group-append">
                      <span class="input-group-text"><img src="assets/images/time-and-date.png" width="16" alt=""></span>
                    </div>
                  </div>
                </div>
              </div> -->


            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="drivern" p class="col-lg-4 col-xl-3 col-form-label">Fuel Type<span class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">
            <div class="ng-autocomplete">
              <ng-autocomplete [data]="fuelTypesData" [searchKeyword]="keyword" (selected)='selectFuelType($event)'
                placeHolder="Enter the Fuel Type" formControlName="fuelType" [itemTemplate]="itemTemplateFuelType"
                [notFoundTemplate]="notFoundTemplateFuelType">
              </ng-autocomplete>

              <ng-template #itemTemplateFuelType let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplateFuelType let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>

              <div class="errormsg"
              *ngIf="submitted && f.fuelType.errors">
              Fuel Type is required
            </div>
              
            </div>
          </div>
        </div>


        <div class="form-group row">
          <label for="modeaym" p class="col-lg-4 col-xl-3 col-form-label">Mode of Payment<span
              class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">



            <select formControlName="modeofpayment" class="form-control" (change)="onChangeEvent($event)" [value]="'5d31705ece00403b7c9ee959'">
              <option *ngFor="let mp of paymentModes" [value]="mp._id" [selected]="mp._id === '5d31705ece00403b7c9ee959'">{{mp.fuelEntryMode}}</option>
            </select>

            <div class="errormsg"
            *ngIf="submitted && f.modeofpayment.errors">
            Mode of payment is required
          </div>

          </div>
        </div>
        <div class="form-group row" *ngIf="showCardOption">
          <label for="card" class="col-lg-4 col-xl-3 col-form-label">Card No<span class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">
            <input type="number" id="card" class="form-control" placeholder="Enter Card Number" formControlName="cardno"
              [readonly]="!showCardOption" />
          </div>
        </div>
        <div class="form-group row" *ngIf="showCouponOption">
          <label for="couponf" class="col-lg-4 col-xl-3 col-form-label">Coupon From<span class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">
            <input type="text" id="couponf" class="form-control" placeholder="Enter Coupon From"
              formControlName="couponfrom" [readonly]="!showCouponOption" />
          </div>
        </div>
        <div class="form-group row" *ngIf="showCouponOption">
          <label for="coupont" class="col-lg-4 col-xl-3 col-form-label">Coupon to<span class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">
            <input type="text" id="coupont" class="form-control" placeholder="Enter Coupon To"
              formControlName="couponto" [readonly]="!showCouponOption" (focusout)="CalculateCouponValue($event)"/>
          </div>
        </div>
        


      </div>
      <div class="col-6">
        
        <div class="form-group row">
          <div *ngIf="showCouponOption">
          <label for="couponv" p class="col-lg-4 col-xl-3 col-form-label">Coupon value<span
              class="star">*</span></label>
          <div class="col-lg-8 col-xl-9">
            <input type="number" id="coponv" class="form-control" placeholder="Enter Coupon Value"
              formControlName="couponvalue" (focusout)="CalculateCouponValue($event)" >
          </div>
        </div>
          <div class="col-12 mt-3">
            <div class="form-group row">
              <label for="amounts" class="col-lg-4 col-xl-3 col-form-label">Amount<span class="star">*</span></label>
              <div class="col-lg-8 col-xl-9">
                <input type="number" id="amounts" class="form-control" placeholder="Enter Amount"
                  formControlName="amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }">
                  <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                    <div *ngIf="f.amount.errors.required">Fuel Amount is required</div>
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="odometers" class="col-lg-4 col-xl-3 col-form-label">Odometer</label>
              <div class="col-lg-8 col-xl-9">
                <input type="number" id="odometers" class="form-control" placeholder="Enter Odometer"
                  formControlName="odometer">
              </div>
            </div>
            <!-- <div class="form-group row">
              <label for="types" class="col-lg-4 col-xl-3 col-form-label">Fuel Type<span class="star">*</span></label>
              <div class="col-lg-8 col-xl-9">
                <input type="text" id="types" class="form-control" placeholder="Enter Fuel Type"
                  formControlName="type" />
              </div>
            </div> -->
            <div class="form-group row mb-0">
              <label for="price" class="col-lg-4 col-xl-3 col-form-label">Price</label>
              <div class="col-lg-8 col-xl-9">
                <input type="text" id="price" class="form-control" placeholder="Enter Price"
                  formControlName="priceunit" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="units" class="col-lg-4 col-xl-3 col-form-label">Unit</label>
          <div class="col-lg-8 col-xl-9">
            <input type="text" id="units" class="form-control" placeholder="Enter Unit" formControlName="unit" />
          </div>
        </div>
        <div class="form-group row">
          <label for="vendern" class="col-lg-4 col-xl-3 col-form-label">Vendor Name</label>
          <div class="col-lg-8 col-xl-9">
            <input type="text" id="vendern" class="form-control" placeholder="Enter Vender Name"
              formControlName="vendorname"/>
          </div>
        </div>
        

        <div class="form-group row">
          <input type="hidden" id="bill_file_unique_id" class="form-control" formControlName="bill_file_unique_id">

          <label for="attachdoc" class="col-lg-4 col-xl-3 col-form-label">Attach Documents(Bill)<span
              class="star"></span></label>
          <div class="col-lg-8 col-xl-9">
            <input type="file" id="attachdoc" #attachdoc multiple (change)="fileAdded($event)">
            <button (click)="uploadBills()" class="btn btn-primary float-right">Upload</button>
          </div>
        </div>


        <!-- <div class="form-group row">
          <label for="attachimg" class="col-lg-4 col-xl-3 col-form-label">Attach Image</label>
          <div class="col-lg-8 col-xl-9">
            <input type="hidden" id="image_file_unique_id" class="form-control" formControlName="image_file_unique_id">

            <div class="row no-gutters">
              <div class="col-xs-12 col-lg-12 col-xl-8">
                <ngx-img (onSelect)="onSelect($event)" (onReset)="onReset()" [config]="{ crop: [ { ratio: 1.5 } ] }">
                </ngx-img>
              </div>
              <div class="col-xs-12 col-lg-12 col-xl-4 mt-1">
                <div *ngIf="imgSrc.length" class="container mb-3">
                  <h5>Preview</h5>
                  <div class="row">
                    <div *ngFor="let img of imgSrc" class="col">
                      <img class="img-fluid" [src]="img">
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary float-right" (click)="uploadImage()">Upload Image</button>
              </div>
            </div>
          </div>
        </div> -->
        <div class="form-group row">
          <label for="comments" class="col-lg-4 col-xl-3 col-form-label">Comments</label>
          <div class="col-lg-8 col-xl-9">
            <textarea id="comments" style="height: 100px;" class="form-control" placeholder="Enter Comments"
              formControlName="comment"></textarea>
          </div>
        </div>
      </div>

    </div>

    <div class="row no-gutters mt-3">
      <div class="col-12 pr-4">
        <button type="submit" class="btn btn-primary float-right">Submit</button>
      </div>
    </div>

  </form>
</div>

<div *ngIf="dialogBox">

  <ngx-dailog-box (messageToEmit)="getMsg($event)" [msgObj]="msgObj"></ngx-dailog-box>
</div>