<div class="VehicleAddTab">
  <form [formGroup]="vehicleServiceForm" novalidate>

    <div class="row no-gutters">
      <nb-tabset class="col-12">
        <nb-tab tabTitle="Identification" class="identification">

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vehicle Type<span
                class="star">*</span></label>
            <div class="col-sm-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="vehicleTypesData" [searchKeyword]="keyword" (selected)='selectVehicleType($event)'
                placeHolder="Enter the Vehicle Type" formControlName="vehicle_type"
                  [itemTemplate]="itemTemplate1" [notFoundTemplate]="notFoundTemplate1">
                </ng-autocomplete>

                <ng-template #itemTemplate1 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate1 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vehicle Name<span
              class="star">*</span></label>
            <div class="col-sm-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="vehicleNamesData" [searchKeyword]="keyword" (selected)='selectEventVehicle($event)'
                placeHolder="Enter the Vehicle Name" formControlName="vehicle"
                  [itemTemplate]="itemTemplate2" [notFoundTemplate]="notFoundTemplate2">
                </ng-autocomplete>

                <ng-template #itemTemplate2 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate2 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vehicle Reg No</label>
            <div class="col-sm-9">
              <input type="text" value="{{vehicleRegNo}}" class="form-control" placeholder="Vehicle Reg No" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vehicle Code</label>
            <div class="col-sm-9">
              <input type="text" value="{{vehicleCode}}" class="form-control" placeholder="Vehicle Code" readonly>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vehicle Image</label>
            <div class="col-sm-9">
              <div class="assignImage">
                <img [src]="vehicleImage" alt="" class="img-thumbnail">
              </div>
            </div>
          </div>

   

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vehicle Detail</label>
            <div class="col-sm-9">
              
              <input type="text" value="{{vehicleDetail}}" class="form-control" placeholder="Vehicle Detail" readonly>
            </div>
          </div>
        </nb-tab>

        <nb-tab tabTitle="Service Task & Repeating Schedule">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Service Type<span
                class="star">*</span></label>
            <div class="col-sm-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="serviceTypesData" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                placeHolder="Enter the Service Type" formControlName="service_type"
                  [itemTemplate]="itemTemplate3" [notFoundTemplate]="notFoundTemplate3">
                </ng-autocomplete>

                <ng-template #itemTemplate3 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate3 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Odometer</label>
            <div class="col-sm-9">
              <input type="text"  class="form-control" placeholder="Odometer" formControlName="odometer" >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Completion Date & Time<span
                class="star">*</span></label>
            <div class="col-sm-9">
         

              <input class="form-control" nbInput placeholder="Completion Date & Time" [nbDatepicker]="completiondatetime" formControlName="completion_date_time">
              <nb-datepicker #completiondatetime ></nb-datepicker>

              <!-- <div class="errormsg" *ngIf="f.assignment_start_date.invalid && (f.assignment_start_date.dirty || f.assignment_start_date.touched)">
                Start Date is required
              </div> -->


            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Start Date<span
                class="star">*</span></label>
            <div class="col-sm-9">
              <input class="form-control" nbInput placeholder="Start Date" [nbDatepicker]="startdate" formControlName="start_date">
              <nb-datepicker #startdate></nb-datepicker>

              <!-- <div class="errormsg" *ngIf="f.assignment_end_date.invalid && (f.assignment_end_date.dirty || f.assignment_end_date.touched)">
                End Date is required
              </div> -->
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">vendor</label>
            <div class="col-sm-9">
              <input type="text"  class="form-control" placeholder="Vendor" formControlName="vendor" >
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">reference</label>
            <div class="col-sm-9">
              <input type="text"  class="form-control" placeholder="Reference" formControlName="reference" >
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 col-form-label">description</label>
            <div class="col-sm-9">
              <input type="text"  class="form-control" placeholder="Description" formControlName="description" >
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 col-form-label">amount</label>
            <div class="col-sm-9">
              <input type="text"  class="form-control" placeholder="Amount" formControlName="amount" >
            </div>
          </div>
     

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Attachments <span
                class="star">*</span></label>
                <div class="col-sm-9">
                  <input type="hidden" id="attachments" class="form-control" formControlName="attachments">

                  <input type="file" id="attachdoc" #attachdoc multiple (change)="fileAdded($event)">
                  <button (click)="uploadBills()" class="btn btn-primary float-right">Upload</button>
                </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Images <span
                class="star">*</span></label>
                <div class="col-sm-9">
                  <input type="hidden" id="images" class="form-control" formControlName="images">

                  <input type="file" id="attachImages" #attachimages multiple (change)="fileAdded($event)">
                  <button (click)="uploadImages()" class="btn btn-primary float-right">Upload Image</button>
                </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 col-form-label">In charge<span
                class="star">*</span></label>
            <div class="col-sm-9">
              <div class="ng-autocomplete">
                <ng-autocomplete [data]="employeeLists" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                placeHolder="Enter the Employee" formControlName="in_charge"
                  [itemTemplate]="itemTemplate4" [notFoundTemplate]="notFoundTemplate4">
                </ng-autocomplete>

                <ng-template #itemTemplate4 let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate4 let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-3 col-form-label">comments</label>
            <div class="col-sm-9">
              <input type="text"  class="form-control" placeholder="Comments" formControlName="comment" >
            </div>
          </div>
     

        </nb-tab>
      </nb-tabset>
    </div>
    <div class="row no-gutters mt-3">
      <div class="col-12 pr-4">
        <button type="submit" (click)="addService()" class="btn btn-primary float-right">Submit</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="dialogBox">

  <ngx-dailog-box (messageToEmit)="getMsg($event)" [msgObj]="msgObj"></ngx-dailog-box>
</div>