<div class="Remainders">
  <nb-card>
    <nb-card-body>
      <div class="row no-gutters">
        <div class="col-sm-6">
          <h4>Remainders List</h4>
        </div>
        <div class="col-sm-6 text-right">
          <a class="btn btn-primary" href="javascript:void(0)" routerLink="/pages/remainders/add-remainders">Add
            Remainder Task</a>
        </div>
      </div>
      <!-- <form class="formbg-light">
        <div class="form-row">
          <div class="col-xs-12 col-sm-3 my-1">
            
          </div>

          <div class="col-xs-12 col-sm-3 my-1">

          </div>
          <div class="col-xs-12 col-sm-3 my-1">
           
          </div>
          <div class="col-xs-12 col-sm-3 my-1">
           
          </div>
        </div>
      </form> -->
      <nb-layout-column class="p-0" *ngIf="!showNoRecord">
        <div class="table-responsive">
          <table class="table table-hover mt-4">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Remainder Name</th>
                <th scope="col">Email Subject</th>
                <th scope="col">Expiration</th>
                <th scope="col">Remainders Interval</th>
                <th scope="col">Email lists</th>
                <th scope="col">Send alerts</th>
                <th scope="col">Template</th>
                <th scope="col">Notes</th>
                <th scope="col">Enable/disable</th>
               
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of remainderData">
                <!-- List Image popup design -->
                <!-- <ng-template #dialog let-data let-ref="dialogRef">
                  <nb-card class="popupImage">
                    <nb-card-body>
                      <img src="assets/images/camera3.jpg" alt=" ">
                      <button nbButton class="popupClose" (click)="ref.close()">
                        <i class="fas fa-times-circle"></i>
                      </button>
                    </nb-card-body>
                  </nb-card>
                </ng-template> -->
                
                <td>{{item.remainderTypeData[0].name}}</td>
                <td>{{item.remainderName}}</td>
                <td>{{item.subject}}</td>
                <td><i class="fas fa-bell text-danger"></i> {{item.expirationDate | date}} <i class="fas fa-calendar-alt text-info"></i></td>
                <td>{{item.remainderInterval}} hour</td>
                <td> <ul>
                  <li *ngFor="let email of item.emailList">
                    <p class="p-0 m-0 FontSmall">{{email}}</p>
                  </li>
                </ul></td>
                <td>{{item.afterexpiration}}</td>
                <ng-template #dialog let-data let-ref="dialogRef">
                  <nb-card class="popupImage">
                    <nb-card-body>
                      <div [innerHTML]="item.template"></div>
                      <button nbButton class="popupClose" (click)="ref.close()"><i
                          class="fas fa-times-circle"></i></button>
                    </nb-card-body>
                
                  </nb-card>
                </ng-template>
                <td>
                  <div nbButton (click)="open(dialog)" class="template" [innerHTML]="item.template"></div>
               
                </td>
                <td>{{item.notes}}</td>
               <td>{{item.enabledisable}}</td>
              
                <td><button class="btn btn-default p-0" (click)="deleteRemainder(item._id)">
                    <i class="fas fa-trash-alt text-danger"></i></button> |
                     <button class="btn btn-default p-0" (click)="editRemainder(item._id)"><i class="fas fa-edit text-primary"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="card-footer pb-0 pt-3 pb-3">
          <ul *ngIf="pager['pages'] && pager['pages'].length" class="pagination justify-content-center">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
              <a [routerLink]="['/pages/remainders/list']" [queryParams]="{page: 1}" class="page-link"><i
                  class="fas fa-angle-double-left"></i></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
              <a [routerLink]="['/pages/remainders/list']" [queryParams]="{ page: pager.currentPage - 1 }"
                class="page-link"><i class="fas fa-angle-left"></i></a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
              class="page-item number-item">
              <a [routerLink]="['/pages/remainders/list']" [queryParams]="{ page: page }" class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
              <a [routerLink]="['/pages/remainders/list']" [queryParams]="{ page: pager.currentPage + 1 }"
                class="page-link"><i class="fas fa-angle-right"></i></a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
              <a [routerLink]="['/pages/remainders/list']" [queryParams]="{ page: pager.totalPages }" class="page-link"><i
                  class="fas fa-angle-double-right"></i></a>
            </li>
          </ul>
        </div>


      </nb-layout-column>

      <div class="row" *ngIf="showNoRecord">
        <div class="col-12">
          <h5 class="text-center text-danger p-4"> No records Found</h5>
        </div>
      </div>

    </nb-card-body>
  </nb-card>
</div>